.site {
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-container::before,
    &-container::after {
        content: "";
        backface-visibility: hidden;
        position: fixed;
        width: 100%;
        height: var(--border-width);
        background: var(--light-navy);
        z-index: 999;
    }

    &-container::before {
        top: 0;
    }

    &-container::after {
        bottom: 0;
    }
}