.post {
    &-container {
        margin-top: 150px;
        color: var(--lightest-slate);
        width: 65%;

        &-header {
            margin-bottom: 4rem;
            // border-left: 1px solid var(--dark-slate);
            // border-bottom: 1px solid var(--dark-slate);
            // box-shadow: 9px 12px 24px -15px rgba(2, 12, 27, 0.76);
            padding: 12px;
            border-radius: 8px;
            // background-color: var(--light-navy);
            // font-family: var(--font-mono);

            div {
                display: flex;
                flex-direction: column;
                // gap: 24px;
                justify-content: center;
                align-items: center;
                font-family: var(--font-mono);
                color: var(--dark-slate);
                font-size: var(--fz-lg);
            }
        }

        @media screen and (max-width: 1350px) {
            & {
                width: 80%;
            }
        }

        @media screen and (max-width: 850px) {
            & {
                width: 90%;
            }
        }
    }
}

.github {
    &-table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    &-td {
        padding: 8px;
        border: 1px solid var(--lightest-navy);
        background-color: var(--navy);
    }

    &-th {
        padding: 8px;
        border: 1px solid var(--lightest-navy);
        background-color: var(--light-navy);
    }
}


.markdown-link {
    color: var(--green);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.blockquote {
    border-left: 4px solid var(--green);
    padding-left: 6px;
    color: var(--slate);
    font-style: italic;
    margin: 2rem 0;
    font-family: var(--font-mono);
    p {
        padding: 12px;
    }
}