.footer {
    // border-top: 1px solid #e8e8e813;;
    border-top: 1px solid #4956702f;;
    width: 100%;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 70px;
    padding: 40px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    gap: 20px;

    p {
        font-size: var(--fz-lg);
        line-height: 1;
        color: var(--light-slate);
    }

    a {

        &:link,
        &:visited {
            text-decoration: none;
            color: inherit;
        }

    }
}