.section-header-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    // justify-content: center;
    margin: 50px 0;

    h2 {
        color: var(--lightest-slate);
        margin: 0;
        font-size: clamp(26px,5vw, 32px);
        // white-space: nowrap;

        span {
            color: var(--green);
        }
    }

    div {
        height: 2px;
        background-color: var(--lightest-navy);
        flex: 1;
        max-width: 50%;
    }
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.bottom-align {
    flex-direction: column;
    margin: 40px 0;
    align-items: stretch;

    div {
        width: 90%;
        max-width: 100%;
        flex: auto;
    }
}