body {
    background-image: linear-gradient(to right top, #0a192f, #0c1b33, #0d1d37, #0f203c, #112240);
}

body {

    &::before,
    &::after {
        content: "";
        backface-visibility: hidden;
        position: fixed;
        top: 0;
        height: 100%;
        width: var(--border-width);
        background: var(--light-navy);
        z-index: 999;
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }
}
